body {
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}
.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.carousel-container {
    display: flex;
    gap: 2%; 
    width: 95%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 30vh;
    margin-top: 8%;
}

.skills-logo {
    width: 100%; 
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;

}

.skills-logo img {
    width: 70%;
    height: 90%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff00ff;
}



.description {
    text-align: center;
    margin: 20px auto;
    max-width: 90%; 
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #00ffff;
    box-shadow: 0 0 15px #00ffff; 
    color: wheat;
    visibility: hidden;
    
}

.description h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin-top: 0;
}

.description p {
    font-size: 1.2rem;
    color: #EEEEEE;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* nav style */ 
footer{
    display: flex;
    justify-content: center;
}

.page-navigation {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-top: 2px solid #00ffff;
    box-shadow: 0 0 15px #00ffff; 
    border-radius: 20px; 
    margin-top: 5%;
}

.page-navigation li {
    display: inline-block;
    margin: 0 25px; 
}

.page-navigation a {
    display: flex;
    width: 100%;
    color: #00ffff;
    text-decoration: none;
    font-size: 1.4rem; 
    transition: color 0.4s, text-shadow 0.4s; 
    text-shadow: 0 0 15px #00ffff; 
    font-weight: bold;
}

.page-navigation a:hover {
    color: #ff00ff;
    text-shadow: 0 0 20px #ff00ff;
    transform: scale(1.1);
}



/* zoom out anim */ 


@keyframes minDiv {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;


    }
}

.shrink {
    animation: minDiv 2s ease forwards;
}
/********************************** zooom in on click, same as other *******************************/

@keyframes zoomIn {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(4);
      
    }
}

.zoomIn {
    animation: zoomIn 4s ease forwards ;
}


.hidden{
 
    opacity: 0;
    transition: opacity 0.5s ease; 

}
@media screen and (max-width: 1070px) {
    .skills-logo img {
        height: 60%;
        width: 60%;
    }
}


@media screen and  (max-width : 768px){

    .wrapper{
        flex-direction: row; 
        height: 100vh;
        align-items:  center;
        width: 100%;
        display: flex;

    }

    .carousel-container{
        flex-direction: column;
        width: 100%;
        align-items: baseline;
        margin: 0;
        height: auto;

    }

    .skills-logo{
        width: 17%;
        height: 10vh;
        margin-left: 6%;
  
    }

     .description {
        position: absolute;
        max-width: 50%;
   
        padding: 20px; 
        margin-left: 37%;
        top : 30%
    }

 
}

@media screen and  (max-width : 615px){


    .description{

        margin-left: 35%;
    }
    .skills-logo img{
        width: 80%;
    }

     .description h3{
        font-size: 1.5rem;
    }
    .description p{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:558px  ) {

     .skills-logo img{
        width: 90%;
    }

    .page-navigation{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .page-navigation a{
        font-size: 1rem;
    }

}



@media screen and  (max-width : 464px){

      .description{

        margin-left: 33%;
    }

}

@media screen and (max-width:426px  ){

    footer{
        display: flex;
    }

       .page-navigation{
        width: 45%;

        display: flex;
        flex-direction: column;
        gap: 1%;
    }
    .page-navigation a{
        display: flex;
        font-size: 1rem;
        justify-content: center;
        gap: 10px;
        height: 4vh;
    }
}