.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}
body {  


    width: 100%;
}

main{
    display: flex;
    justify-content: center;
  align-items: center;
    height: 100vh;
}
.main-div{
    display: flex;
    color: white;
    flex-direction: column ;
    width: 37%;
    height: 60vh;
    background-color: black;
    opacity: 0.7;
    border-radius: 35px;
    font-size: 1.2rem;
    background: linear-gradient(to right, #100012, #47122d );
}

/* blur effect */ 
@keyframes shadow {
   0%{
        box-shadow: 0 0 15px 4px#51c274, 0 0 25px 6px #51c274, 0 0 35px 8px #51c274, 0 0 45px 10px #51c274;
   }

    25% {
        box-shadow: 0 0 10px 2px #c7006e, 0 0 20px 4px #c7006e, 0 0 30px 6px #c7006e, 0 0 40px 8px #c7006e;
    }

    50%{
        box-shadow: 0 0 15px 4px#51c274, 0 0 25px 6px #51c274, 0 0 35px 8px #51c274, 0 0 45px 10px #51c274;
    }

    75%{
        box-shadow: 0 0 10px 2px #c7006e, 0 0 20px 4px #c7006e, 0 0 30px 6px #c7006e, 0 0 40px 8px #c7006e;
    }

    100%{
        box-shadow: 0 0 15px 4px#51c274, 0 0 25px 6px #51c274, 0 0 35px 8px #51c274, 0 0 45px 10px #51c274;
    }

}
.shadow {
    animation: shadow 4s ease infinite;
}


/* Font style */ 

.profil-title{
    display: flex;
    justify-content: center;
    margin-top: 9%;
}

.profil-talk{
    display: flex;
    margin: 0 10% 0 10%;
    flex-direction: column;
    margin-top: 4%;
}

.profil-talk a{
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

/* zoom out */

@keyframes minDiv {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;


    }
}

.shrink {
    animation: minDiv 2s ease forwards;
}

.reverse {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.back{
    display: flex;
    justify-content: center;
    margin-top: 9%;
    text-decoration: none;
    color: #c7006e;
}

.back:hover{
    color:  red;
}


@media screen and (min-width:767px) and (max-width:1024px) {
    .main-div {
            width: 65%;
  
        
        }
    
        .profil-title {
            font-size: 1.7rem;
            margin-top: 12%;
        }
    
        .profil-talk {
            align-items: center;
            margin-top: 8%;
        }
    
        .back {
            margin-top: 11%;
        }
    
    
}

@media screen and (max-width: 767px) {

    .main-div{
        width: 75%;
        font-size: 0.9rem;
    
    }
    
    .profil-title{
        font-size: 1.2rem;
        margin-top: 16%;
    }

    .profil-talk{
        align-items: center;
        margin-top: 11%;
    }

    .back{
        margin-top: 22%;
    }
}