body {
    font-family: 'Orbitron', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

.project-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project-container section {
    width: 33%;
    z-index: 1;
    color: wheat;
}


.h1-project {
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    animation: slideFromLeft 1.2s ease-out forwards, textGlow 2s infinite alternate;
    text-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
}

p {
    font-size: 1.1rem;
    color: #EEEEEE;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    animation: floatUp 2s ease-out forwards;
}

ul li {
    margin-bottom: 10px;
    animation: floatUp 2s ease-out forwards;
}

a {
    color: #0FF;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.8);
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #FF0;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
}

section {
    padding: 20px;
    background: rgba(0, 0, 0, 0.349);
    border-radius: 15px;
    border: 2px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    margin-top: 3%;
}

section:hover {
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.8);
}

/* Animations */
@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textGlow {
    0% {
        text-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 0, 1), 0 0 30px rgba(255, 0, 255, 1);
    }

    100% {
        text-shadow: 0 0 10px rgba(255, 0, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.8);
    }
}

@keyframes floatUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* nav style */

footer{
    display: flex;
    justify-content: center;
}

.page-navigation {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-top: 2px solid #00ffff;
    box-shadow: 0 0 15px #00ffff; 
    border-radius: 20px; 
    margin-top: 5%;
}

.page-navigation li {
    display: inline-block;
    margin: 0 25px; 
}

.page-navigation a {
    color: #00ffff;
    text-decoration: none;
    font-size: 1.4rem; 
    transition: color 0.4s, text-shadow 0.4s; 
    text-shadow: 0 0 15px #00ffff; 
    font-weight: bold;
}

.page-navigation a:hover {
    color: #ff00ff;
    text-shadow: 0 0 20px #ff00ff;
    transform: scale(1.1);
}


/****************************************** zoom in, same as other ******************************************/

@keyframes zoomIn {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(4);
      
    }
}

.zoomIn {
    animation: zoomIn 4s ease forwards ;
}


.hidden{
 
    opacity: 0;
    transition: opacity 0.5s ease; 

}


/***************************************** Responsive ajustment *****************************************/


@media screen and (min-width: 768px) and (max-width: 1023px) {


    .project-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-container section {
        width: 90%;
        box-sizing: border-box;
    }

    .h1-project {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px) {
    .project-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .project-container section {
        width: 95%;
        box-sizing: border-box;
    }

    .h1-project {
        margin-top: 10px;
    }

    .page-navigation a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 475px) {
    .page-navigation{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .page-navigation a{
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 3.5vh;
        font-size: 1.1rem;
        
    }
}

/* zoomOut effect */

@keyframes minDiv {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;


    }
}

.shrink {
    animation: minDiv 2s ease forwards;
}

.reverse {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

